<!DOCTYPE html>
<html>
<head>
    <title>Bank Transfer</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
    .h{
    background-color: rgb(0, 0, 0);
    margin-top: -2px;
        width:1482px;
        height: 60px;
        margin-left: -10px;
        color: wheat;
        
}
.anchor{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.4s ease;
}

</style>
<body  style="background-image: url('https://img.freepik.com/free-vector/man-paying-online-receiving-cashback-wallet_88138-692.jpg?w=1060&t=st=1720522336~exp=1720522936~hmac=97f9a13ef73a4fc0adc8683f15eb1062ac476418476fe174db02ea5fc4999107'); background-repeat: no-repeat;background-size: 1300px 500px;background-position: center;background-attachment: fixed;">
    <center>
    <h1 class="h" class="h" style="font-family: serif; text-shadow: 1px 1px ; width: 100%;margin-right: -10px;">Welcome to the Bank Transfer System</h1>
    <button type="submit" class="btn btn-warning" style="margin-top: 700px;"><a class="anchor" href="{% url 'customers_list' %}" style="color: rgb(82, 82, 82);"><b>View All Customers</b></a></button>
</center>
</bodystyle=>
</html>
